<footer>
    <div class="wrapper">
        <div class="container">
            <h5>FEATURES</h5>
            <a>News</a>
            <a>Event</a>
            <a>Technology</a>
            <a>E-Bike Technology</a>
            </div>
        <div class="container">
            <h5>SUPPORT</h5> 
            <a>Customer Support</a>
            <a>Bike Archive</a>
            <a>Warranty Information</a>
            <a>Recalls</a>  
        </div>
        <div class="container">
            <h5>COMPANY</h5>   
            <a>About Us</a>
            <a>Privacy Policy</a>
            <a>Cookie Policy</a>
            <a>Store Finder</a>
        </div>
        <!-- <div class="container"> -->
        <!-- </div> -->
    </div>
</footer>