@import "/src/styles.scss";

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    transition: all ease .2s;
    margin: 20px;


    &:hover {
        color: $color_blue;
    }
}

.logo {
    width: 250px;
    margin-left: 20px;
    cursor: pointer;
}

.buttons_header {
    display: flex;
    justify-content: flex-end;
}

.logIn {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
 .logo{
    width: 110px;
    object-fit: contain;
 }

 a{
    font-size: 17px;
 }

 header{
    padding: 8px;
 }
}