.product_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.product_container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

img {
    width: 70%;
    object-fit: contain;
}

.info {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: flex-start;
}

.name {
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    margin: 20px 0;
}

.price {
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
}

.description {
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin-top: 20px;
}

.id{
    margin-top: 20px;
}

.button_add{
    margin-top: 20px;
}

.select{
    margin-top: 20px;
}

@media (max-width:768px) {
    .product_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img{
        width: 95%;
    }

    .info{
        width: 95%;
    }

    .name{
        font-size: 18px;
        margin: 10px;
    }

    .description{
        font-style: 15px;
    }
}