<div class="wrapper">
    <h2>Add new product</h2>
    <form #newProductForm="ngForm" >
        <mat-form-field>
            <label >Name</label>
            <input type="text" matInput ngModel name="name" required>
        </mat-form-field>
        <mat-form-field>
            <label >Category</label>
         <mat-select ngModel name="category" required>
            <mat-option value="roadBike">Road Bike</mat-option>
            <mat-option value="mountainBike">Mountain  Bike</mat-option>
            <mat-option value="e-bike">E-Bike</mat-option>
            <mat-option value="crossGravel">Cross & Gravel  Bike</mat-option>
            <mat-option value="kidsBike">Kids  Bike</mat-option>
         </mat-select>
        </mat-form-field>
        <mat-form-field>
            <label >Description</label>
            <input type="text" matInput ngModel name="description" required>
        </mat-form-field>
        <mat-form-field>
            <label >Price</label>
            <input type="number" matInput ngModel name="price" required>
        </mat-form-field>
        <input type="file" (change)="uploadImage($event)">        
        <button mat-raised-button (click)="addNewProduct(newProductForm)" [disabled]="newProductForm.invalid">Submit</button>
    </form>
</div>
<main>
    <div class="card_wrapper" *ngFor="let product of products">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{product.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src={{product.imageUrl}} alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>{{product.description}}</p>
              <p>{{product.price | currency}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="deleteFromDB(product.id)">Delete</button>
            </mat-card-actions>
          </mat-card>
    </div>
</main>
