
<div class="wrapper">
    <mat-tab-group fitInkBarToContent  animationDuration="300ms">
        <mat-tab label="Sign Up" >
            <form #signUpForm="ngForm" class="mat-tab-body-content">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input type="text" matInput required name="name" ngModel #name="ngModel" minlength="2">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Surname</mat-label>
                    <input type="text" matInput name="surname" ngModel>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input type="email" #email="ngModel" matInput required name="email" ngModel minlength="2">
                    <div *ngIf="email.touched && !email.valid">
                        <div class="error_form">Enter email</div>
                    </div>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Phone</mat-label>
                    <input type="phone " matInput name="phone" ngModel  placeholder="+48 508 135 405 " minlength="9" maxlength="9" >
                    
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input type="password" matInput required name="password" ngModel minlength="6">
                </mat-form-field>
                <button (click)="signUp(signUpForm)" mat-raised-button [disabled]="signUpForm.invalid">Sign Up</button>
            </form>
        </mat-tab>
        <mat-tab label="Log In">
            <form #logInForm="ngForm"  class="mat-tab-body-content">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input type="email" matInput required name="email" ngModel minlength="2">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input type="password" matInput required name="password" ngModel>
                </mat-form-field>
                <button type="submit" mat-raised-button [disabled]="logInForm.invalid" (click)="signIn(logInForm)">Log In</button>
            </form>
        </mat-tab>
    </mat-tab-group>
    <div class="error_form" *ngIf="error">
        {{error}}
    </div>
</div>