<div class="wrapper">
  <img class="foto_header" src="assets/img/header.jpg" alt="cycler">
  <div *ngIf="!userId" class="app-auth">
    <app-auth class="fotoInfo fotoAuth"></app-auth>
  </div>
  <div *ngIf="userId" class="app-auth">
    <div class="fotoInfo fotoText ">Push your limits</div>
  </div>
  <main>
    <aside>
      <mat-radio-group [(ngModel)]="categoryFilter" color="primary">
        <label class="radio_label">Categories</label>
        <mat-radio-button class="example-radio-button" value="all" (click)="filterByCategory('all')">
          All
        </mat-radio-button>
        <mat-radio-button class="example-radio-button" value="road bike" (click)="filterByCategory('roadBike')">
          Road Bike
        </mat-radio-button>
        <mat-radio-button class="example-radio-button" value="mountain bike" (click)="filterByCategory('mountainBike')">
          Mountain Bike
        </mat-radio-button>
        <mat-radio-button class="example-radio-button" value="mountain bike" (click)="filterByCategory('e-bike')">
          E-Bike
        </mat-radio-button>
        <mat-radio-button class="example-radio-button" value="mountain bike" (click)="filterByCategory('crossGravel')">
          Cross & Gravel Bike
        </mat-radio-button>
        <mat-radio-button class="example-radio-button" value="mountain bike" (click)="filterByCategory('kidsBike')">
          Kids  Bike
        </mat-radio-button>
      </mat-radio-group>
    </aside>
    <div class="products">
      <div class="pannel">
        <button mat-raised-button [matMenuTriggerFor]="menu">Sort By</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="sortProducts('priceLow')">Price Low to high</button>
          <button mat-menu-item (click)="sortProducts('priceHigh')">Price High to Low</button>
        </mat-menu>
      </div>
      <div class="all_cards">
        <div class="card_wrapper" *ngFor="let product of products">
          <mat-card class="example-card">
            <img class="card_img" mat-card-image src={{product.imageUrl}} alt="Photo of a Shiba Inu"
              routerLink="/item-page/{{product.id}}">
            <div class="card_info"> <mat-card-header>
                <mat-card-title routerLink="/item-page/{{product.id}}">{{product.name}}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p class="description">{{product.description}}</p>
              </mat-card-content>
              <mat-card-actions>
                <p class="price">{{product.price | currency}}</p>
                <button mat-button (click)="addToCart(product)">
                  <mat-icon>shopping_cart</mat-icon>
                  Add to cart</button>
              </mat-card-actions>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </main>
</div>