@import "/src/styles.scss";

.wrapper {
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-around;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.foto_header {
    width: 100%;
    object-fit: cover;
}

app-auth {
    position: absolute;
    width: 300px;
    height: 550px;
    top: 100px;
    left: 30%;
    z-index: 1;
   
    
}

.card_wrapper {
    display: flex;
    flex-direction: row;

}

.example-card {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_info{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: stretch;
    width: 100%;
    flex-grow: 1;
}

.card_img {
    width: 300px;
    // height: 112px;
    object-fit: contain;
    border-radius: 9px;
    margin-top: 10px;

    &:hover {
        opacity: .8;
        cursor: pointer;
    }
}

mat-card-title {
    &:hover {
        opacity: .6;
        cursor: pointer;
    }
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: justify;
}

.price{
    font-weight: 600;
}

mat-card {
    width: 250px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}



mat-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 5px;
    align-items: flex-start;
    height: 80%;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0px 14px 15px -6px rgba(66, 68, 90, 1);
}

.radio_label {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
}

.all_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.products {
    width: 100%;
}



.pannel {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}